beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
filelock==3.14.0
google_search_results==2.4.2
greenlet==3.0.3
idna==3.7
lxml==5.2.2
numpy==1.26.4
pandas==2.2.2
playwright==1.43.0
pyee==11.1.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
redditwarp==1.2.0
requests==2.31.0
serpapi==0.1.5
six==1.16.0
soupsieve==2.5
TikTokApi==6.3.0
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
